// Colors
$light-text: #9ba2c2;
[data-theme='dark'] {
  --primary-color: #{#ff5370};
  --secondary-color: #{#555c70};
  --background-color: #{#0f111a};
  --text-color: #{$light-text};
  --secondary-text-color: #{lighten($light-text, 10%)};
  --tag-hover-color: #{#34495e};
  --post-heading-color: #{lighten($light-text, 10%)};
  --code-color: #{lightn($light-text, 10%)};
  --code-back-color: #{#1a1d2c};
  --code-block-color: #{#c9d2dc};
  --light-accent-color: #{rgba($light-text, 0.2)};
  --quote-color: #{rgba($light-text, 0.8)};
  --hover-focus-color: #{#161a26};
  --hover-active-color: #{#242836};
  --shadow-color: #{rgba($color: #5e5f72, $alpha: 0)};
  --half-primary-color: #{rgba(#ff5370, 0.5)};
}

.theme-switcher {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  .theme-button {
    cursor: pointer;
    background-color: var(--light-accent-color);
    width: 78px;
    height: 36px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #dayIcon {
    position: relative;
    left: 8px;
    fill: var(--background-color);
  }

  #nightIcon {
    position: relative;
    right: 8px;
    fill: var(--text-color);
  }

  #dayIcon,
  #nightIcon {
    height: 20px;
    width: 20px;
    cursor: pointer;
    z-index: 10;
    top: 3px;
    transition: fill 0.25s ease-in-out;
  }

  .toggle {
    display: none;
  }

  .toggle-button {
    cursor: pointer;
    position: absolute;
    height: 40px;
    width: 40px;
    z-index: 0;
    border-radius: 20px;
    margin-left: -2px;
    margin-top: -2px;
    transition: all 0.25s ease-in-out;
    background-color: var(--primary-color);
    @include sm {
      margin-top: 0px;
    }
  }

  &:hover {
    .toggle-button {
      box-shadow: 0px 4px 10px var(--primary-color);
    }
  }
}

[data-theme='dark'] {
  .theme-switcher {
    .toggle-button {
      margin-left: 40px;
    }

    #dayIcon {
      fill: var(--text-color);
    }

    #nightIcon {
      fill: var(--background-color);
    }
  }
}

// Special Styles

[data-theme='dark'] {
  main {
    .about,
    .post {
      .post-content {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          text-shadow: 0px 5px 20px var(--primary-color);
        }
      }

      blockquote {
        &:before {
          // color: var(--text-color);
          text-shadow: 0px 5px 20px var(--primary-color);
        }
      }

      pre {
        background-color: var(--code-back-color) !important;
      }
    }
  }

  #header {
    .logo {
      a {
        text-shadow: 0px 5px 20px var(--primary-color);
      }
    }
  }
}
