main {
  clear: both;

  .content {
    padding: 0 20px;
  }

  .posts {
    margin-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
  }

  .read-more a {
    color: $main-colour;
    font-family: $ui-font;
    font-size: 1.1rem;

    &:hover {
      text-decoration: underline;
    }
  }

  .about,
  .post {
    padding: 1.5rem 0;
    font-size: 24px;

    .post__title {
      font-family: $ui-font;

      a {
        color: #34495e;
      }
    }

    .post-content {
      font-family: $serif-font;
      a {
        color: #34495e;
        text-decoration: none;
        border-bottom: 2px dotted #96a3b1;

        transition: border 1s ease;
        &:hover {
          border-bottom: 2px solid $main-colour;
        }
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $ui-font;
      margin-bottom: 0.25rem;
      font-weight: 600;
    }

    .post-content {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-bottom: 0.2rem;
      }
      h1,
      h2 {
        margin-top: 2rem;
      }
      h3,
      h4 {
        margin-top: 1.5rem;
      }
      h5,
      h6 {
        margin-top: 1rem;
      }

      p {
        margin: 0.75rem 0 1.5rem;
      }

      img {
        display: block;
        margin: 1rem auto;
        border-radius: 6px;
      }
    }

    pre {
      display: block;
      border-radius: 12px;
      padding: 1rem;
    }

    pre,
    code {
      font-size: 90%;
      overflow: auto;
      font-family: $code-font-family;
      margin-bottom: 0;
      color: #c9d2dc;
    }

    pre > code {
      display: block;
      border: none;
      font-style: normal;
      font-size: 1rem;
    }

    code {
      font-size: 1.15rem;
      padding: 3px 5px;
      border-radius: 6px;
      color: $code-colour;
      background-color: rgba($color: $dark-text, $alpha: 0.07);
    }

    blockquote {
      &:before {
        color: #f0f0f0;
        content: '“';
        font-size: 6em;
        line-height: 0.6em;
        margin-right: 0.1em;
        margin-bottom: -0.5em;
        float: left;
      }
      margin: 1em 0;
      padding: 10px 20px;
      position: relative;
      color: rgba(#34495e, 0.8);
      font-size: 1.66rem;

      p {
        margin: 0;
      }
    }

    table {
      width: 100%;
      max-width: 100%;
      margin: 10px 0;
      border-spacing: 0;
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.125);

      thead {
        background: $secondary-colour;
      }

      th,
      td {
        padding: 5px 15px;
        border: 1px double darken($secondary-colour, 3%);
      }

      tr:hover {
        background-color: $secondary-colour;
      }
    }

    .footnote-definition {
      padding-left: 40px;

      &:first-of-type {
        border-top: 2px dashed $main-colour;
        margin-top: 1rem;
        padding-top: 1rem;
      }

      sup {
        &.footnote-definition-label {
          font-size: 100%;
          position: unset;
          top: unset;

          &::after {
            content: '.';
          }
        }
      }

      p {
        display: inline;
      }
    }

    &__title {
      margin: 0;
      font-size: 3rem;
      font-weight: 600;
      margin-bottom: 0 !important;

      @include underline-from-center;
    }

    &__category {
      display: inline;

      a {
        color: inherit;

        &:before {
          content: '\B7';
          padding-right: 2px;
        }

        &:hover {
          color: $main-colour;
        }
      }
    }

    &__meta {
      font-size: 20px;
      color: #8a8a8a;
    }

    &__summary {
      margin-bottom: 1rem;
    }
  }

  .end-post {
    margin: 5rem 0 7rem;
    display: flex;
    justify-content: end;
    @media (max-width: 600px) {
      margin: 3rem 0 4rem;
      svg {
        width: 100%;
      }
    }
  }

  .post-tags {
    padding: 15px 0;

    a {
      margin-right: 5px;
      display: inline-block;
      word-break: break-all;
      background-color: rgba(#34495e, 0.1);
      transition: all 0.25s ease-in-out;
      padding: 0.25rem 1rem;
      border-radius: 12px;
      &:hover {
        transform: scale(1.05);
        background-color: $main-colour;
      }
      &:active {
        transform: scale(1);
      }
    }
  }

  .post-nav {
    margin: 3rem 0 5rem;
    height: 3rem;
  }

  .pagination {
    clear: both;
    font-family: $ui-font;
    margin: 2rem 0;

    a {
      color: #34495e;
    }
  }
}

.next,
.previous {
  font-weight: 600;
  font-size: 20px;
  transition: transform 0.3s ease-out;

  @include hover-pop;
}

.next {
  float: right;
  margin-right: -1rem;
  &:hover {
    transform: translateX(4px);
  }
}

.previous {
  float: left;
  margin-left: -1rem;
  &:hover {
    transform: translateX(-4px);
  }
}

.taxonomies {
  margin: 2em 0 3em;
  text-align: center;

  &__title {
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
  }

  &__items {
    margin: 20px 0;

    a {
      margin: 5px 10px;
      position: relative;
      color: $dark-text;
      font-size: 1.5rem;
      display: inline-block;

      @include hover-pop;

      .count {
        position: relative;
        top: -7px;
        right: 5px;
        color: $main-colour;
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
}

span.hashtag {
  opacity: 0.5;
}

.taxonomy {
  margin: 2em 0;

  &__item {
    padding: 3px 20px;
    border-left: 1px solid #cacaca;
    transition: 0.2s ease-out;

    &:hover {
      border-left: 3px solid $main-colour;
      transform: translateX(4px);
    }

    &__time {
      margin-right: 10px;
      color: #8a8a8a;
    }

    &__title a {
      color: $main-colour;
    }
  }
}
