{% macro menu(config) %}
    <nav class="menu">
        <ul>
            {% for item in config.extra.blog_menu %}
                <li>
                    <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}">
                        {{ item.name }}
                    </a>
                </li>
            {% endfor %}
            <li>
                <div class="theme-switcher" onClick="toggleTheme()">
                    Theme
                </div>
            </li>
        </ul>
    </nav>
{% endmacro menu %}
{% macro navbar(config) %}
    <header id="header">
        <div class="logo">
            <a href="{{ config.base_url }}">{{ config.title }}</a>
        </div>
        {{ page_macros::menu(config=config) }}
    </header>
{% endmacro navbar %}
{% macro navbar_index(config) %}
    <header class="index-header" id="header">
        {{ page_macros::menu(config=config) }}
    </header>
{% endmacro navbar_index %}